body, html{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#313132,#161618);
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}
.bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/images/Bg\ -\ Img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: 25vw;
    z-index: -1;
}


*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 55px;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin: 40px 0;
}

nav .logo h1{
    margin: 0;
    display: none;
}


li a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 200;
}
li a:hover{
    text-decoration: underline;
}
.active{
    color: #EFC862;
    text-decoration: underline;
}

.search{
    cursor: pointer;
}
.search:hover > i{
    color: #EFC862;
}

.menu-icon{
    display: none;
    cursor: pointer;
}