/* Body */

body, html{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#313132,#161618);
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}
.bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/images/Bg\ -\ Img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-x: 25vw;
    z-index: -1;
}


*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

main{
    width: 100%;
    position: relative;
}

/* Side Bar */

.sidebar{
    border-right: 1px solid #707070;
    box-sizing: border-box;
    width: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: none;
}

.social{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-self: end;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.icon{
    color: white;
}
.icon:hover > i{
    color: #EFC862;
}



.logo h1{
    font-size: 41px;
    user-select: none;
    transition: color 0.2s ease;
}
.logo h1:hover{
    color: #EFC862;
}

/* Header */

header{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 55px;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin: 40px 0;
}

nav .logo h1{
    margin: 0;
    display: none;
}


li a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 200;
}
li a:hover{
    text-decoration: underline;
}
.active{
    color: #EFC862;
    text-decoration: underline;
}

.search{
    cursor: pointer;
}
.search:hover > i{
    color: #EFC862;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

/* Center */

.center{
    display: flex;
    margin-top: 13.333vh;
    margin-left: 5.5vw;
    margin-right: 8.333vw;
    justify-content: space-between;
}

/* Center left */

.left{
    width: 320px;
}

.left h2{
    font-weight: 400;
    letter-spacing: 0.4rem;
    font-size: 1.75rem;
    margin: 0;
}
.left hr{
    border: 0;
    height: 1px;
    background: #ffffff;
    background: linear-gradient(to right,  #EFC862 50%,#ffffff60 50%);
}
.left h3{
    font-weight: 400;
    font-size: 1.313rem;
    margin-bottom: 0;
}
.left a{
    text-decoration: none;
    font-weight: 300;
    color: #ffffff60;
    font-size: 0.813rem;
    display: block;
    line-height: 1.5rem;
}

.left a:hover{
    text-decoration: underline;
}

/* Center Right */

.right{
    max-width: 400px;
    flex: 1;
}
.right h1{
    font-size: 4.5rem;
    margin: 0;
    line-height: 3.5rem;
    transition: color 0.2s ease;
}

.right h1:hover{
    color: #EFC862;
}
.right .eat{
    margin-bottom: 1rem;
}

.right p{
    font-weight: 300;
    font-size: 1.313rem;
    letter-spacing: 0.1rem;
}

/* Footer */

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 204px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.event{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 38px 0;
    box-sizing: border-box;
}

.event h3{
    font-weight: 500;
    color: #A1A1A1;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    margin: 0;
}
.event .slides{
    display: flex;
    gap: 16px;
}
.event .slides .dot div{
    width: 6px;
    height: 6px;
    background: #A1A1A1;
    border-radius: 50%;
}
.event .slides .dot{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.event .slides .active-dot div{
    background: #EFC862;
}
.event .event-title, .event .date{
    color: white;
}
.event .event-title{
    transition: color 0.2s ease;
    cursor: default;
    width: fit-content;
}
.event .event-title:hover{
    color: #EFC862;
}

.slide-off{
    display: none;
}

.news{
    flex: 1;
    display: flex;
    gap: 24px;
}
.news .news-title{
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
    cursor: default;
    width: fit-content;
}
.news .news-title:hover{
    color: #EFC862;
}
.news .readmore a{
    font-size: 1rem;
    text-decoration: none;
    color: #EFC862;
}
.news .readmore a:hover{
    text-decoration: underline;
}
.news p{
    font-size: 0.813rem;
    color: #A1A1A1;
    letter-spacing: 0.2em;
}
.news .news-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 29px 0;
}

.news .news-text > *{
    margin: 0;
}

/* expand menu */

.mobile-menu{
    display: none;
}

/* MOBILE */

@media (max-width: 550px){

    /* BODY */
    .bg{
        background-position: center;
    }

    /* HEADER */
    .sidebar{
        display: none;
    }
    main header nav .logo{
        display: block;
    }
    main header nav .logo h1    {
        display: block;
    }
    main header nav ul li{
        display: none;
    }
    main header{
        width: 100vw;
        padding: 0 24px;
    }

    /* Center */
    main .center{
        margin: 5.25vh 10.67vw;;
        margin: 5.25svh 10.67vw;
    }
    main .center .left{
        display: none;
    }

    main .center .right h1{
        font-size: 2.25rem;
        line-height: 2rem;
    }
    main .center .right p{
        font-size: 0.688rem;
        font-weight: 400;
    }

    .center .right h1{
        margin-bottom: 3.15vh;
        margin-bottom: 3.15svh;
    }

    .center .right .eat{
        margin-bottom: 1rem;
    }

    /* FOOTER */
    footer{
        flex-direction: column;
        height: 359px;
        padding: 24px 40px;
        gap: 10%;
    }
    .event{
        flex: 1;
        padding: 0;
    }

    .event h3{
        font-weight: 500;
        color: #A1A1A1;
        letter-spacing: 0.2rem;
        font-size: 0.875rem;
        margin: 0;
    }
    .event .slides{
        display: flex;
        gap: 16px;
    }
    .event .slides .dot{
        width: 6px;
        height: 6px;
        background: #A1A1A1;
        border-radius: 50%;
        cursor: pointer;
    }
    .event .slides .active-dot{
        background: #EFC862;
    }
    .event .event-title, .event .date{
        color: white;
    }

    .news img{
        display: none;
    }

    .news .news-text{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: 0;
    }

    /* mobile menu */

    .menu-icon{
        display: block;
        z-index: 10;
    }

    .mobile-menu{
        position: fixed;
        display: none;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(20px);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .toggled{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile-menu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }
}

@media (min-width: 550px) and (max-width: 1030px){
    
    .bg{
        height: 100vh;
    }
    /* center */
    main .center .right h1{
        font-size: 3rem;
        line-height: 2rem;
    }
    main .center .right p{
        font-size: 0.9rem;
        font-weight: 400;
        min-width: 0;
    }
    main .center .right{
        flex: 2;
        min-width: 0;
    }

    main .center .left{
        flex: 1;
    }

    main .center{
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        gap: 5%;
    }

    /* sidebar */

    .sidebar{
        flex: 1;
    }

    /* footer */
    footer .event{
        flex: 1;
        flex-basis: 50%;
        min-width: 0;
    }
    footer .news{
        display: flex;
        flex-basis: 50%;
        min-width: 0;
        justify-content: space-between;
        gap: 0;
    }
    footer .news img{
        min-width: 0;
        flex-basis: 40%;
        object-fit: cover;
    }
    footer .news .news-text{
        flex-basis: 50%;
        min-width: 0;
        width: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: fit-content;
        margin: 0.5vw 0;
        margin-left: 2%;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
    
}

@media (max-height: 680px){
    .center .right h1{
        font-size: 3.5rem;
        line-height: 2.5rem;
    }
    .center .right p{
        font-size: 1rem;
    }

    footer{
        height: 24vh;
    }
}
